.newOrder {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  align-items: flex-start;
}

.client {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  background: #575955;
  height: 6vh;
  align-content: center;
}

.client label {
  font-size: x-large;
  font-family: 'GFSNeohellenic';
  font-weight: 600;
  font-style: italic;
  padding-left: 25px;
}

.client input {
  border-radius: 25px;
  border: 1px solid #000;
  background: #fff;
  margin-left: 25px;
  color: #000;
}

.foodButtons {
  width: 42vw;
}

.buttonsMeals {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttonsMeals button {
  font-family: 'GFSNeohellenic', sans-serif;
  color: #000;
  border-radius: 15px;
  background: #9cfb7c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  font-size: larger;
  font-weight: 600;
  height: 60px;
  width: 120px;
  margin: 25px 0;
  cursor: pointer;
  transition:
    transform 0.1s,
    background-color 0.2s;
}

.buttonsMeals :hover {
  transform: scale(1.1);
}

.buttonsMeals :active {
  background-color: #4ff916;
}

.buttonsBreakfast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.buttonsBreakfast button {
  font-family: 'Inter', sans-serif;
  color: #000;
  border-radius: 15px;
  background: #ffcd46;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  font-size: medium;
  font-weight: 400;
  height: 75px;
  width: 145px;
  margin: 14px 0;
  cursor: pointer;
  transition:
    transform 0.1s,
    background-color 0.2s;
}

.buttonsBreakfast :hover {
  transform: scale(1.1);
}

.buttonsBreakfast :active {
  background-color: #FBFF46;
}

.buttonsLunch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.buttonsLunch button {
  font-family: 'Inter', sans-serif;
  color: #000;
  border-radius: 15px;
  background: #ffcd46;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  font-size: medium;
  font-weight: 400;
  height: 75px;
  width: 145px;
  margin: 14px 0;
  cursor: pointer;
  transition:
    transform 0.1s,
    background-color 0.2s;
}

.buttonsLunch :hover {
  transform: scale(1.1);
}

.buttonsLunch :active {
  background-color: #FBFF46;
}
